<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.catdemo.mapper.PetHealthRecordMapper">

  <resultMap id="BaseResultMap" type="com.example.catdemo.entity.PetHealthRecord">
    <id column="id" jdbcType="VARCHAR" property="id"/>
    <result column="pet_id" jdbcType="VARCHAR" property="petId"/>
    <result column="record_type" jdbcType="VARCHAR" property="recordType"/>
    <result column="record_date" jdbcType="DATE" property="recordDate"/>
    <result column="hospital" jdbcType="VARCHAR" property="hospital"/>
    <result column="doctor" jdbcType="VARCHAR" property="doctor"/>
    <result column="next_visit_date" jdbcType="DATE" property="nextVisitDate"/>
    <result column="cost" jdbcType="DECIMAL" property="cost"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.catdemo.entity.PetHealthRecord">
    <result column="diagnosis" jdbcType="LONGVARCHAR" property="diagnosis"/>
    <result column="treatment" jdbcType="LONGVARCHAR" property="treatment"/>
    <result column="attachment_urls" jdbcType="LONGVARCHAR" property="attachmentUrls"/>
    <result column="remark" jdbcType="LONGVARCHAR" property="remark"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{ criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{ criterion.value} and #{ criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{ listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{ criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{ criterion.value} and #{ criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{ listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pet_id, record_type, record_date, hospital, doctor, next_visit_date, 
	cost, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    diagnosis, treatment, attachment_urls, remark
  </sql>

  <select id="selectByExampleWithBLOBs" parameterType="com.example.catdemo.entity.PetHealthRecordExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pet_health_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByExample" parameterType="com.example.catdemo.entity.PetHealthRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pet_health_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pet_health_record
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from pet_health_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByExample" parameterType="com.example.catdemo.entity.PetHealthRecordExample">
    delete from pet_health_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insert" parameterType="com.example.catdemo.entity.PetHealthRecord">

    insert into pet_health_record(id,pet_id, record_type, record_date,
	 hospital, doctor, diagnosis, treatment, 
	 next_visit_date, cost, attachment_urls, remark, 
	 create_time, update_time)
    values (#{id,jdbcType=VARCHAR}, #{petId,jdbcType=VARCHAR}, #{recordType,jdbcType=VARCHAR}, #{recordDate,jdbcType=DATE},
	 #{hospital,jdbcType=VARCHAR}, #{doctor,jdbcType=VARCHAR}, #{diagnosis,jdbcType=LONGVARCHAR}, #{treatment,jdbcType=LONGVARCHAR}, 
	 #{nextVisitDate,jdbcType=DATE}, #{cost,jdbcType=DECIMAL}, #{attachmentUrls,jdbcType=LONGVARCHAR}, #{remark,jdbcType=LONGVARCHAR}, 
	 #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.example.catdemo.entity.PetHealthRecord">

    insert into pet_health_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
          id,
        </if>
      <if test="petId != null">
        pet_id,
      </if>
      <if test="recordType != null">
        record_type,
      </if>
      <if test="recordDate != null">
        record_date,
      </if>
      <if test="hospital != null">
        hospital,
      </if>
      <if test="doctor != null">
        doctor,
      </if>
      <if test="diagnosis != null">
        diagnosis,
      </if>
      <if test="treatment != null">
        treatment,
      </if>
      <if test="nextVisitDate != null">
        next_visit_date,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="attachmentUrls != null">
        attachment_urls,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="petId != null">
        #{petId,jdbcType=VARCHAR},
      </if>
      <if test="recordType != null">
        #{recordType,jdbcType=VARCHAR},
      </if>
      <if test="recordDate != null">
        #{recordDate,jdbcType=DATE},
      </if>
      <if test="hospital != null">
        #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="doctor != null">
        #{doctor,jdbcType=VARCHAR},
      </if>
      <if test="diagnosis != null">
        #{diagnosis,jdbcType=LONGVARCHAR},
      </if>
      <if test="treatment != null">
        #{treatment,jdbcType=LONGVARCHAR},
      </if>
      <if test="nextVisitDate != null">
        #{nextVisitDate,jdbcType=DATE},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="attachmentUrls != null">
        #{attachmentUrls,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="countByExample" parameterType="com.example.catdemo.entity.PetHealthRecordExample" resultType="java.lang.Long">
    select count(*) from pet_health_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update pet_health_record
    <set>
      <if test="record.id != null">
       id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.petId != null">
       pet_id = #{record.petId,jdbcType=VARCHAR},
      </if>
      <if test="record.recordType != null">
       record_type = #{record.recordType,jdbcType=VARCHAR},
      </if>
      <if test="record.recordDate != null">
       record_date = #{record.recordDate,jdbcType=DATE},
      </if>
      <if test="record.hospital != null">
       hospital = #{record.hospital,jdbcType=VARCHAR},
      </if>
      <if test="record.doctor != null">
       doctor = #{record.doctor,jdbcType=VARCHAR},
      </if>
      <if test="record.diagnosis != null">
       diagnosis = #{record.diagnosis,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.treatment != null">
       treatment = #{record.treatment,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.nextVisitDate != null">
       next_visit_date = #{record.nextVisitDate,jdbcType=DATE},
      </if>
      <if test="record.cost != null">
       cost = #{record.cost,jdbcType=DECIMAL},
      </if>
      <if test="record.attachmentUrls != null">
       attachment_urls = #{record.attachmentUrls,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.remark != null">
       remark = #{record.remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.createTime != null">
       create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
       update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByExampleWithBLOBs" parameterType="map">
    update pet_health_record
    set id = #{record.id,jdbcType=VARCHAR},
	  pet_id = #{record.petId,jdbcType=VARCHAR},
	  record_type = #{record.recordType,jdbcType=VARCHAR},
	  record_date = #{record.recordDate,jdbcType=DATE},
	  hospital = #{record.hospital,jdbcType=VARCHAR},
	  doctor = #{record.doctor,jdbcType=VARCHAR},
	  diagnosis = #{record.diagnosis,jdbcType=LONGVARCHAR},
	  treatment = #{record.treatment,jdbcType=LONGVARCHAR},
	  next_visit_date = #{record.nextVisitDate,jdbcType=DATE},
	  cost = #{record.cost,jdbcType=DECIMAL},
	  attachment_urls = #{record.attachmentUrls,jdbcType=LONGVARCHAR},
	  remark = #{record.remark,jdbcType=LONGVARCHAR},
	  create_time = #{record.createTime,jdbcType=TIMESTAMP},
	  update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByExample" parameterType="map">
    update pet_health_record
    set id = #{record.id,jdbcType=VARCHAR},
	  pet_id = #{record.petId,jdbcType=VARCHAR},
	  record_type = #{record.recordType,jdbcType=VARCHAR},
	  record_date = #{record.recordDate,jdbcType=DATE},
	  hospital = #{record.hospital,jdbcType=VARCHAR},
	  doctor = #{record.doctor,jdbcType=VARCHAR},
	  next_visit_date = #{record.nextVisitDate,jdbcType=DATE},
	  cost = #{record.cost,jdbcType=DECIMAL},
	  create_time = #{record.createTime,jdbcType=TIMESTAMP},
	  update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.example.catdemo.entity.PetHealthRecord">
    update pet_health_record
    <set>
      <if test="petId != null">
        pet_id = #{petId,jdbcType=VARCHAR},
      </if>
      <if test="recordType != null">
        record_type = #{recordType,jdbcType=VARCHAR},
      </if>
      <if test="recordDate != null">
        record_date = #{recordDate,jdbcType=DATE},
      </if>
      <if test="hospital != null">
        hospital = #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="doctor != null">
        doctor = #{doctor,jdbcType=VARCHAR},
      </if>
      <if test="diagnosis != null">
        diagnosis = #{diagnosis,jdbcType=LONGVARCHAR},
      </if>
      <if test="treatment != null">
        treatment = #{treatment,jdbcType=LONGVARCHAR},
      </if>
      <if test="nextVisitDate != null">
        next_visit_date = #{nextVisitDate,jdbcType=DATE},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="attachmentUrls != null">
        attachment_urls = #{attachmentUrls,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.catdemo.entity.PetHealthRecord">
    update pet_health_record
    set pet_id = #{petId,jdbcType=VARCHAR},
	  record_type = #{recordType,jdbcType=VARCHAR},
	  record_date = #{recordDate,jdbcType=DATE},
	  hospital = #{hospital,jdbcType=VARCHAR},
	  doctor = #{doctor,jdbcType=VARCHAR},
	  diagnosis = #{diagnosis,jdbcType=LONGVARCHAR},
	  treatment = #{treatment,jdbcType=LONGVARCHAR},
	  next_visit_date = #{nextVisitDate,jdbcType=DATE},
	  cost = #{cost,jdbcType=DECIMAL},
	  attachment_urls = #{attachmentUrls,jdbcType=LONGVARCHAR},
	  remark = #{remark,jdbcType=LONGVARCHAR},
	  create_time = #{createTime,jdbcType=TIMESTAMP},
	  update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.example.catdemo.entity.PetHealthRecord">
    update pet_health_record
    set pet_id = #{petId,jdbcType=VARCHAR},
	  record_type = #{recordType,jdbcType=VARCHAR},
	  record_date = #{recordDate,jdbcType=DATE},
	  hospital = #{hospital,jdbcType=VARCHAR},
	  doctor = #{doctor,jdbcType=VARCHAR},
	  next_visit_date = #{nextVisitDate,jdbcType=DATE},
	  cost = #{cost,jdbcType=DECIMAL},
	  create_time = #{createTime,jdbcType=TIMESTAMP},
	  update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
