<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.catdemo.mapper.PetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.catdemo.entity.Pet">
        <id column="Id" property="Id" />
        <result column="name" property="name" />
        <result column="breed" property="breed" />
        <result column="age" property="age" />
        <result column="gender" property="gender" />
        <result column="weight" property="weight" />
        <result column="vaccinated" property="vaccinated" />
        <result column="neutered" property="neutered" />
        <result column="neuteredTime" property="neuteredTime" />
        <result column="ownerId" property="ownerId" />
        <result column="registration_date" property="registrationDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, name, breed, age, gender, weight, vaccinated, neutered, neuteredTime, ownerId, registration_date
    </sql>

    <insert id="add" parameterType="com.example.catdemo.entity.Pet">
        insert into petinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="Id != null">
                Id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="breed != null">
                breed,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="weight != null">
                weight,
            </if>
            <if test="vaccinated != null">
                vaccinated,
            </if>
            <if test="neutered != null">
                neutered,
            </if>
            <if test="neuteredTime != null">
                neuteredTime,
            </if>
            <if test="ownerId != null">
                ownerId,
            </if>
            <if test="registrationDate != null">
                registration_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="Id != null">
            #{Id},
        </if>
        <if test="name != null">
            #{name},
        </if>
        <if test="breed != null">
            #{breed},
        </if>
        <if test="age != null">
            #{age},
        </if>
        <if test="gender != null">
            #{gender},
        </if>
        <if test="weight != null">
            #{weight},
        </if>
        <if test="vaccinated != null">
            #{vaccinated},
        </if>
        <if test="neutered != null">
            #{neutered},
        </if>
        <if test="neuteredTime != null">
            #{neuteredTime},
        </if>
        <if test="ownerId != null">
            #{ownerId},
        </if>
        <if test="registrationDate != null">
            #{registrationDate},
        </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.example.catdemo.entity.Pet">
        update  petinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">
                name = #{name},
            </if>
            <if test="breed != null">
                breed = #{breed},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="gender != null">
                age = #{age},
            </if>
            <if test="weight != null">
                age = #{age},
            </if>
            <if test="vaccinated != null">
                age = #{age},
            </if>
            <if test="neutered != null">
                age = #{age},
            </if>
            <if test="neuteredTime != null">
                age = #{age},
            </if>
            <if test="ownerId != null">
                age = #{age},
            </if>
            <if test="registrationDate != null">
                age = #{age},
            </if>
        </trim>
        where  id = #{id}
    </update>
    <delete id="delete" parameterType="java.lang.String">
        delete from petinfo where id = #{id}
    </delete>
    <select id="getById" resultType="com.example.catdemo.entity.Pet" parameterType="java.lang.String">
        Select * from petinfo where id = #{id}
    </select>
    <select id="getAllByOwnId" resultType="com.example.catdemo.entity.Pet" parameterType="java.lang.String">
        Select * from petinfo where ownerId = #{ownerId}
    </select>
    <select id="listAll" resultType="com.example.catdemo.entity.Pet">
        Select * from petinfo
    </select>
</mapper>
