<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.catdemo.mapper.RecipeIngredientsMapper">

  <resultMap id="BaseResultMap" type="com.example.catdemo.entity.RecipeIngredients">
    <id column="ingredient_id" jdbcType="VARCHAR" property="ingredientId"/>
    <result column="recipe_id" jdbcType="VARCHAR" property="recipeId"/>
    <result column="ingredient_name" jdbcType="VARCHAR" property="ingredientName"/>
    <result column="ingredient_portion" jdbcType="VARCHAR" property="ingredientPortion"/>
    <result column="replaceable" jdbcType="TINYINT" property="replaceable"/>
    <result column="omissible" jdbcType="TINYINT" property="omissible"/>
    <result column="replace_ingredient_name" jdbcType="VARCHAR" property="replaceIngredientName"/>
    <result column="replace_ingredient_portion" jdbcType="VARCHAR" property="replaceIngredientPortion"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{ criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{ criterion.value} and #{ criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{ listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{ criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{ criterion.value} and #{ criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{ listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ingredient_id, recipe_id, ingredient_name, ingredient_portion, replaceable, omissible, replace_ingredient_name, 
	replace_ingredient_portion
  </sql>

  <select id="selectByExample" parameterType="com.example.catdemo.entity.RecipeIngredientsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from recipe_ingredients
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from recipe_ingredients
    where ingredient_id = #{ingredientId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from recipe_ingredients
    where ingredient_id = #{ingredientId,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByExample" parameterType="com.example.catdemo.entity.RecipeIngredientsExample">
    delete from recipe_ingredients
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insert" parameterType="com.example.catdemo.entity.RecipeIngredients">

    insert into recipe_ingredients( ingredient_id, recipe_id, ingredient_name, ingredient_portion,
	 replaceable, omissible, replace_ingredient_name, replace_ingredient_portion)
    values (#{ingredientId,jdbcType=VARCHAR}, #{recipeId,jdbcType=VARCHAR}, #{ingredientName,jdbcType=VARCHAR}, #{ingredientPortion,jdbcType=VARCHAR},
	 #{replaceable,jdbcType=TINYINT}, #{omissible,jdbcType=TINYINT}, #{replaceIngredientName,jdbcType=VARCHAR}, #{replaceIngredientPortion,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.example.catdemo.entity.RecipeIngredients">

    insert into recipe_ingredients
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="ingredientId != null">
        ingredient_id,
      </if>
      <if test="recipeId != null">
        recipe_id,
      </if>
      <if test="ingredientName != null">
        ingredient_name,
      </if>
      <if test="ingredientPortion != null">
        ingredient_portion,
      </if>
      <if test="replaceable != null">
        replaceable,
      </if>
      <if test="omissible != null">
        omissible,
      </if>
      <if test="replaceIngredientName != null">
        replace_ingredient_name,
      </if>
      <if test="replaceIngredientPortion != null">
        replace_ingredient_portion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="ingredientId != null">
        #{ingredientId,jdbcType=VARCHAR},
      </if>
      <if test="recipeId != null">
        #{recipeId,jdbcType=VARCHAR},
      </if>
      <if test="ingredientName != null">
        #{ingredientName,jdbcType=VARCHAR},
      </if>
      <if test="ingredientPortion != null">
        #{ingredientPortion,jdbcType=VARCHAR},
      </if>
      <if test="replaceable != null">
        #{replaceable,jdbcType=TINYINT},
      </if>
      <if test="omissible != null">
        #{omissible,jdbcType=TINYINT},
      </if>
      <if test="replaceIngredientName != null">
        #{replaceIngredientName,jdbcType=VARCHAR},
      </if>
      <if test="replaceIngredientPortion != null">
        #{replaceIngredientPortion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="countByExample" parameterType="com.example.catdemo.entity.RecipeIngredientsExample" resultType="java.lang.Long">
    select count(*) from recipe_ingredients
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update recipe_ingredients
    <set>
      <if test="record.ingredientId != null">
       ingredient_id = #{record.ingredientId,jdbcType=VARCHAR},
      </if>
      <if test="record.recipeId != null">
       recipe_id = #{record.recipeId,jdbcType=VARCHAR},
      </if>
      <if test="record.ingredientName != null">
       ingredient_name = #{record.ingredientName,jdbcType=VARCHAR},
      </if>
      <if test="record.ingredientPortion != null">
       ingredient_portion = #{record.ingredientPortion,jdbcType=VARCHAR},
      </if>
      <if test="record.replaceable != null">
       replaceable = #{record.replaceable,jdbcType=TINYINT},
      </if>
      <if test="record.omissible != null">
       omissible = #{record.omissible,jdbcType=TINYINT},
      </if>
      <if test="record.replaceIngredientName != null">
       replace_ingredient_name = #{record.replaceIngredientName,jdbcType=VARCHAR},
      </if>
      <if test="record.replaceIngredientPortion != null">
       replace_ingredient_portion = #{record.replaceIngredientPortion,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByExample" parameterType="map">
    update recipe_ingredients
    set ingredient_id = #{record.ingredientId,jdbcType=VARCHAR},
	  recipe_id = #{record.recipeId,jdbcType=VARCHAR},
	  ingredient_name = #{record.ingredientName,jdbcType=VARCHAR},
	  ingredient_portion = #{record.ingredientPortion,jdbcType=VARCHAR},
	  replaceable = #{record.replaceable,jdbcType=TINYINT},
	  omissible = #{record.omissible,jdbcType=TINYINT},
	  replace_ingredient_name = #{record.replaceIngredientName,jdbcType=VARCHAR},
	  replace_ingredient_portion = #{record.replaceIngredientPortion,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.example.catdemo.entity.RecipeIngredients">
    update recipe_ingredients
    <set>
      <if test="recipeId != null">
        recipe_id = #{recipeId,jdbcType=VARCHAR},
      </if>
      <if test="ingredientName != null">
        ingredient_name = #{ingredientName,jdbcType=VARCHAR},
      </if>
      <if test="ingredientPortion != null">
        ingredient_portion = #{ingredientPortion,jdbcType=VARCHAR},
      </if>
      <if test="replaceable != null">
        replaceable = #{replaceable,jdbcType=TINYINT},
      </if>
      <if test="omissible != null">
        omissible = #{omissible,jdbcType=TINYINT},
      </if>
      <if test="replaceIngredientName != null">
        replace_ingredient_name = #{replaceIngredientName,jdbcType=VARCHAR},
      </if>
      <if test="replaceIngredientPortion != null">
        replace_ingredient_portion = #{replaceIngredientPortion,jdbcType=VARCHAR},
      </if>
    </set>
    where ingredient_id = #{ingredientId,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.example.catdemo.entity.RecipeIngredients">
    update recipe_ingredients
    set recipe_id = #{recipeId,jdbcType=VARCHAR},
	  ingredient_name = #{ingredientName,jdbcType=VARCHAR},
	  ingredient_portion = #{ingredientPortion,jdbcType=VARCHAR},
	  replaceable = #{replaceable,jdbcType=TINYINT},
	  omissible = #{omissible,jdbcType=TINYINT},
	  replace_ingredient_name = #{replaceIngredientName,jdbcType=VARCHAR},
	  replace_ingredient_portion = #{replaceIngredientPortion,jdbcType=VARCHAR}
    where ingredient_id = #{ingredientId,jdbcType=VARCHAR}
  </update>
</mapper>
