<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.catdemo.mapper.UserchangehistoryMapper">

  <resultMap id="BaseResultMap" type="com.example.catdemo.entity.Userchangehistory">
    <id column="userChangeHistoryId" jdbcType="VARCHAR" property="userchangehistoryid"/>
    <result column="userId" jdbcType="VARCHAR" property="userid"/>
    <result column="username" jdbcType="VARCHAR" property="username"/>
    <result column="password" jdbcType="VARCHAR" property="password"/>
    <result column="email" jdbcType="VARCHAR" property="email"/>
    <result column="phone" jdbcType="VARCHAR" property="phone"/>
    <result column="role" jdbcType="VARCHAR" property="role"/>
    <result column="status" jdbcType="VARCHAR" property="status"/>
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime"/>
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime"/>
  </resultMap>
  <sql id="Base_Column_List">
    userChangeHistoryId, userId, username, password, email, phone, role, 
	status, createTime, updateTime
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from userchangehistory
    where userChangeHistoryId = #{userchangehistoryid,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from userchangehistory
    where userChangeHistoryId = #{userchangehistoryid,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.example.catdemo.entity.Userchangehistory">
    insert into userchangehistory(userId, username, password, 
	 email, phone, role, status, 
	 createTime, updateTime)
    values (#{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
	 #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
	 #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.example.catdemo.entity.Userchangehistory">
    insert into userchangehistory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.example.catdemo.entity.Userchangehistory">
    update userchangehistory
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where userChangeHistoryId = #{userchangehistoryid,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.example.catdemo.entity.Userchangehistory">
    update userchangehistory
    set userId = #{userid,jdbcType=VARCHAR},
	  username = #{username,jdbcType=VARCHAR},
	  password = #{password,jdbcType=VARCHAR},
	  email = #{email,jdbcType=VARCHAR},
	  phone = #{phone,jdbcType=VARCHAR},
	  role = #{role,jdbcType=VARCHAR},
	  status = #{status,jdbcType=VARCHAR},
	  createTime = #{createtime,jdbcType=TIMESTAMP},
	  updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where userChangeHistoryId = #{userchangehistoryid,jdbcType=VARCHAR}
  </update>
</mapper>
